<table role="presentation" class="w-full">
  <tr>
    <td class="px-5">
      <table>
        <tr>
          <!-- Logo Section: Place your logo here -->
          <td class="w-28 pt-5">
            <x-image class="w-[110px]" imgUrl="logo.png" href="#">
          </td>
          <!-- Content Section: Styled with Tailwind classes, contains text -->
          <td class="pt-5 w-96 px-6 text-success text-xs leading-3 font-normal align-middle">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>



