<table role="presentation" class="w-full bg-ctmbg">
  <tr>
    <td align="center" class="pb-7">
      <!-- Heading -->
      <h2 class="text-2xl pt-2 text-info font-bold mb-2">
        Sint cupidatat occaecat ut
      </h2>
      <!-- Two-column section -->
      <table role="presentation" class="w-full">
        <tr>
          <!-- First Column -->
          <td class="sm:w-full sm:block w-1/2 pl-5 py-4 pr-2.5">
            <table role="presentation" class="w-full bg-white shadow-lg p-6 rounded-lg">
              <tr>
                <td align="center" class="pt-5">
                  <x-image class="w-24 h-24 rounded-full mb-2" imgUrl="Icon.png" />
                </td>
              </tr>
              <tr>
                <td align="center">
                  <p class="text-xl pt-2 text-info font-bold mb-2">Nisi ut ade</p>
                  <p class="text-secondary text-base font-normal pt-2 pb-7 px-6 leading-5 text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.¹
                  </p>
                </td>
              </tr>
            </table>
          </td>
          <!-- Second Column -->
          <td class="sm:w-full sm:block w-1/2 pr-5 py-4 pl-2.5">
            <table role="presentation" class="w-full bg-white shadow-lg p-6 rounded-lg">
              <tr>
                <td align="center" class="pt-5">
                  <x-image class="w-24 h-24 rounded-full mb-2" imgUrl="Icon.png" />
                </td>
              </tr>
              <tr>
                <td align="center">
                  <p class="text-xl pt-2 text-info font-bold mb-2">Duis aute irure</p>
                  <p class="text-secondary text-base font-normal pt-2 pb-7 px-6 leading-5 text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.²
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
