<table class="w-full">
  <tr>
    <td class="px-5 pt-5">
      <!-- Heading -->
      <h2 class="text-xs font-bold leading-3 mb-4">Ut enim ad minim:</h2>
      <!-- Content Section: Styled with Tailwind classes, contains text -->
      <p class="text-xs font-normal leading-3 mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p class="text-xs font-normal leading-3 mb-4">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </td>
  </tr>
  <tr>
    <td class="px-5 pt-3">
      <!-- Heading -->
      <h2 class="text-xs font-bold leading-3 mb-4">Sint occaecat cupidatat:</h2>
      <!-- Content Section: Styled with Tailwind classes, contains text -->
      <ol class="list-decimal text-xs font-normal leading-3 pl-2.5">
        <li>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </li>
        <li class="mt-2">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </li>
      </ol>
    </td>
  </tr>
  <tr>
    <td>
      <table role="separator" class="w-full mx-auto">
        <tr>
          <td class="px-5">
            <hr class="border-t-0 border-success my-3">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="px-5 pt-3 text-center">
      <!-- Heading -->
      <p class="text-xs font-bold leading-3 mb-4">Sed do eiusmod tempor incididunt ut labore</p>
      <!-- Logo Section: Place your logo here -->
      <div class="pt-3 pb-5 mx-auto">
        <x-image class="w-[100px]" imgUrl="footer-logo.png" href="#"></x-image>
      </div>
    </td>      
  </tr>
</table>